/* src/index.css */

/*
  Questo file è per gli stili globali che si applicano a tutta l'applicazione.
  Per ora, ci basta un semplice reset per garantire coerenza tra i browser.
  Tutti gli stili specifici della landing page sono in LandingPage.css.
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}